body{
    background-image: url("Mybackgroundimage.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
h1{
	font-family: "consolas", sans-serif;
}
h4{
	font-family: "consolas", sans-serif;
	background-color: rgba(240, 248, 255, 0.486);
	border-style: outset;
	border-width: 5px;
	border-color: goldenrod;
	border-radius: 10px;
	padding: 5px;
}
p{
	font-family: "consolas", sans-serif;
}
img{
	background-color: rgba(240, 248, 255, 0.486);
	border-style: outset;
	border-width: 5px;
	border-color: goldenrod;
	border-radius: 10px;
	padding: 5px;
}
h3{
	background-color: rgba(215, 240, 250, 0.541);
	border-style: outset;
	border-width:5px;
	border-color: rgba(0, 132, 255, 0.432);
	border-radius: 10px;
	padding: 5px;
	font-family: "consolas", sans-serif;
}
#myBox{
	background-color: aqua;
	width: 200px;
	height: 200px;
	font-size: 3.5rem;
	font-weight: bold;
	display: flex;
	align-items:center;
	text-align:center;
	padding: 5px;
	border-style: outset;
	border-radius: 10px;
	border-color:black;
}
body{
	margin: 0;
}
#myBox2{
	background-color:rgba(255, 255, 255, 0.479);
	width: 200px;
	height: 200px;
	display:flex;
	justify-content: center;
	position: relative;

}
body{
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1{
	font-size: 3.5rem;
	color: rgb(19, 18, 18)
}
.choices{
	margin-bottom: 30px;
}
.choices button{
	font-size: 5.5rem;
	min-width: 160px;
	margin: 0 10px;
	border-radius: 250px;
	background-color: rgb(0, 81, 255);
	cursor: pointer;
	transition: background-color 0.5s ease;
}
.choices button:hover{
	background-color:aquamarine
}
#playerDisplay, #computerDisplay{
	font-size: 2.5rem;
}
#resultDisplay{
	font-size: 5rem;
	margin: 30px 0;
}
.slider{
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
}
.slider img{
	width: 100%;
	display: none;
}
img.displaySlide{
	display: block;
}
